/console_test_clearscript/obj
/console_test_clearscript/bin/Debug/console_test_clearscript.exe.config
/console_test_clearscript/bin/Debug/console_test_clearscript.pdb
/console_test_clearscript/bin/Debug/Newtonsoft.Json.xml
/console_test_clearscript/bin/Debug/console_test_clearscript.exe
/console_test_clearscript/bin/Debug/ClearScript.xml
